
<footer>
  Coded with <i class="fas fa-heart"></i> by 
  <form action="https://github.com/ezzep66" method="GET">
    <button class="btn">
      Ezequiel
    </button>
  </form>
</footer>

</div>
</body>
</html>
	